// Colors 
$colors: (
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  danger: #dc3545,
  warning: #ffc107,
  info: #17a2b8,
  light: #f8f9fa,
  dark: #343a40,
  black: #000000,
  custom-blue: #1e90ff,
  custom-green: #32cd32,
  white: #ffffff,
  purple: #3f3cbb,
  midnight: #121063,
  metal: #565584,
  tahiti: #3ab7bf,
  silver: #ecebff,
  bubble-gum: #ff77e9,
  bermuda: #78dcca,
);
$shades: (
  50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950
);